<div class="container">
  <h3 class="form-font"> Create Your Itinerary!!  </h3>
  <%= simple_form_for (@itinerary) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :image %>
    <%= f.input :comment %>
    <%= f.submit "create", class: 'btn btn-secondary btn-sm' %>
  <% end %>
</div>
