<main class="bg-green-700 h-screen">
  <div class="flex">
       <%# Mapbox %>
        <div class="bg-white w-1/2 rounded">
            <div id="map"
              style="width: 100%; height: 600px;"
              data-marker="<%= @marker.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
        </div>

     <div class="w-1/2 mr-4 mt-2">
        <div class="bg-white relative rounded p-4 mt-2 ml-4 flex-col">
            <h1 class="text-green-700 text-3xl ml-2 mr-2"><%= @itinerary.name %></h1>

            <div class=" flex flex-row">
                <div><%= cl_image_tag @itinerary.photo.key, :width=>200, :height=>200, class:"flex justify-center" %></div>
                <div class="ml-1">Description: <%= @itinerary.description %></div>
            </div>

            <div><%= link_to 'Join', itinerary_booking_requests_path(@itinerary), method: :post, class:"absolute bottom-0 right-0 bg-green-700 hover:bg-green-600 text-white p-2 rounded mb-2 mr-3" %></div>

        </div>

      <%# Booking requests %>
        <div class="flex-col bg-white rounded mt-4 ml-4 text-green-700">
          <h1 class="p-2 text-2xl">Bookings</h1>
          <div class="text-green-700 p-2 mb-2 rounded m-1 text-m">



            <% @booking_requests.each do |booking_request| %>
              <% if booking_request.user.photo.attached? %>
                <%= cl_image_tag booking_request.user.photo.key,  :width=>75, :height=>75, :gravity=>"face", :radius=>"max", :crop=>"fill"  %>
              <% else %>
                <%= image_tag "Profilepic.png", width: 200, height: 150 %>
              <% end %>
              <%= booking_request.user.first_name.capitalize %>
              <%= booking_request.booking_status %>
              </div>
            <% end %>

         <div>
      </div>

  </div>
</main>
