<main class="bg-green-700 px-8 grid lg:grid-cols-3 h-screen max-w-screen-xl mx-auto px-4 pt-4">
  <!---Name-->
  <div class="col-span-3 md:col-span-2 lg:grid-span-2 xl:grid-span-2">
    <p class="text-white text-bold text-2xl ml-2 pt-3 md:text-4xl w-full  lg:col-span-3">
      <%= @user.first_name.upcase %> <%=  @user.last_name.upcase %>
      <%= link_to edit_user_path(@user) do %> <i class="fas fa-edit text-white text-2xl"></i> <% end %>
    </p>
     <!---User profile section -->
    <%# <div class="md:flex lg:flex"> %>
      <div class="rounded p-2 bg-white mx-2">
          <div >
              <% if @user.photo.attached? %>
                <%= cl_image_tag @user.photo.key, :width=>200, :height=>150, gravity: :face, class:"object-scale-down" %>
              <% else %>
                <%= image_tag "Profilepic.png", width: 200, height: 150, class:"object-scale-down" %>
              <% end %>

              <div class="flex-col">
                <span class="text-green-800 text-l ml-2">E-mail Address:</span><div class="text-green-800 text-m ml-2"><%= @user.email %></div>
                <span class="text-green-800 text-l ml-2 pt-2">About me:</span><div class="text-green-800 text-m ml-2"><%= @user.about_me %></div>
              </div>
          </div>
        <%# </div> %>
     </div>
  </div>

  <!--- REQUESTS -->
        <div class="rounded p-2 bg-white mx-2 col-span-3 lg:col-span-1 md:col-span-1 mt-2 xl:col-span-1 col-span-3">
          <h3 class="text-green-700 text-center text-l mt-1 lg:text-xl xl:text-xl">Requests</h3>
          <hr class="text-green-700">
            <% @itineraries.each do |itinerary| %>
            <% itinerary.booking_requests.each do |booking_request| %>
              <div class="my-2 ml-2"> <%= booking_request.user.first_name.capitalize %> wants to your join <%= booking_request.itinerary.name %>
                  <%= booking_request.booking_status %>
                  <div></div>
                  <%= link_to 'Accept',  accepted_booking_request_path(booking_request),method: :patch, class:"bg-green-500 p-1 rounded hover:bg-green-400 text-white" %>
                  <%= link_to 'Decline',  decline_booking_request_path(booking_request),method: :patch, class:"bg-red-500 p-1 rounded hover:bg-red-400 text-white" %>
             </div>
              </div>
            <% end %>
            <% end %>
        </div>
      </div>
    </div>

  <!--- YOUR ITINERARIES -->
 <div class="col-span-3 text-green-700 text-center text-l bg-white rounded mt-2 mx-1">
    <h3 class="mt-1 md:text-xl lg:text-xl xl:text-xl">Your Itineraries:</h3>
    <hr class="text-green-700">
      <div class="cards">
        <% @itineraries.each do |itinerary| %>

          <div class="list-card-category-itinerary bg-white p-2 rounded">
            <%= link_to itinerary_path(itinerary) do %>
            <div class="text-center">  <%=itinerary.name.upcase  %> <%= link_to edit_itinerary_path(itinerary) do %> <i class="fas fa-edit text-green-700 text-xl ml-2"></i> <% end %></div>
            <hr class="text-green-700 text-bold">
            <div><%= itinerary.description %></div>
          </div>

         <% end %>
        <% end %>
      </div>
  </div>

 <!--- YOUR BOOKINGS -->
 <div class="col-span-3 text-green-700 text-center text-l bg-white rounded mt-2 mx-1 mb-2">
    <h3 class="mt-2 lg:text-xl xl:text-xl">Your Bookings</h3>
    <hr class="text-green-700">
        <div class="cards">
          <% @booking_requests.each do |booking_request| %>
            <div class="text-center">
              <%= link_to booking_request.itinerary.name, itinerary_path(booking_request.itinerary) %>
              <%= booking_request.booking_status %>
            </div>
          <% end %>
        </div>
    </div>

</main>
