<h1>Hi <%= @user.first_name %></h1>

<hr>

  <%# <% if current_user.booking_requests == @user.booking_requests %>
    <h3>Your Booking</h3>
    <% @booking_requests.each do |booking_request| %>
      <%= booking_request.itinerary.name %>
      <%= booking_request.booking_status %>
    <% end %>
  <%# <% end %>

<hr>
  <%# <% if current_user.itineraries == @user.itineraries %>
    <h3>Your Itinerary</h3>
    <% @itineraries.each do |itinerary| %>
      <%= itinerary.name %>
      <%= itinerary.description %>
      <%= link_to 'Edit', edit_itinerary_path(itinerary) %>
      <% itinerary.booking_requests.each do |booking_request| %>
        <%= booking_request.user.first_name %>
        <%= booking_request.booking_status %>
        <%= link_to 'Accept', booking_request_path(booking_request), method: :patch %>
      <% end %>
    <% end %>
    <%# <% @booking_requests.itinerary do |booking_request| %>
      <%# <%= booking_request.booking_status %>
      <%#= link_to 'Accept', edit_booking_request_path(booking_request) %>
    <%# <% end %>
  <%# <% end %>

<hr>
  <%# if you are the one who create the itinerary show be review the booking request %>
  <%# or should create a form to display service options? for updating the booking_request %>
  <%# or should create a method for action controller? %>
